body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-image:url(../images/tactile_noise.png);
}

#container{
	width:940px;
	margin:20px auto 0;
}

#construction {
	padding-bottom:50px;
}

.flip_container {
	margin-top:-14px;
	text-align:center;
}

#footer{
	
	margin-top:12px;
	color:white;
	text-align:center;
}

#mainBody{
	padding:10px 0px;
	background-image:url(../images/white_texture.png);
	padding-top:10px;
	text-align:center;
}

#navBar {
	background-color:#999999;
	height:30px;
}

.navigation{
	float:right;
	list-style-type:none;
	padding:5px 15px 6px;
	
}

.navigation a{
	color:#FFFFFF;
	text-decoration:none;
	font-size:16px;
}

.navigation:hover{
	background-color:#666;
	
}

.navigation a:visited{
	color:white;
}

p {
	padding:0px 15px;
}

#sidebar{
	float:right;
	padding:25px;
}

.socialLink {
	color:white;
}

#titleGraphic{
	margin-bottom:-20px;
	padding-left:15px;
}


<!--Projects pages-->
#construction {
	padding:25px;
}
.padded {
	padding:25px;
}
#projectLink {
	font-size:18px;
	margin-left:-750px;
	margin-top:50px;
}
.project {
	width:300px;
	text-align:left;
	float:left
}
#projectContainer {
	height:300px;
	padding:20px 0 0 25px;
}
#projectTable {
padding-left:20px;
}
#widgetDescription {
	padding:25px 0 0 25px;
	font-size:17px;
	float:left;
	width:320px;
}