body {
	background:url(../Images/background-texture.png);
	color:white;
	font-size:15px;
	font-family: 'Junge', sans-serif;
}
a {
	color:white;
}
a:visited {
	color:white;
}
.bold {
	font-weight:bold;
}
h1 {
	font-size:24px;
}
#container {
	margin:auto;
	width:960px;
	height:700px;
	background:url(../Images/background.jpg) no-repeat;
	margin-top:40px;
	box-shadow:4px 4px 6px black;
}

#sidebar {
	width:400px;
	float:right;
}
#sidebar a img {
	width:380px;
	height:220px;
	padding:25px 25px 0 0;
	border:none;
}
#navigation {
	width:400px;
	height:275px;
	margin:auto;
	background:url(../Images/Journal.png) no-repeat;
	background-size:370px, 276px;
	text-align:center;
	padding-right:40px;
	font-size:28px;
	margin-top:150px;
}
#navigation a {
	color:black;
	text-decoration:none;
	font-weight:bold;
	font-family: "Coming Soon", cursive;	
}
#navigation a:hover {
	text-decoration:underline;
}
#navigation a.selected {
	text-decoration:underline;
}
#navigation td {
	width:200px;
}
#main-content {
	width:480px;
	margin-left:20px;
	top:30px;
	padding:0px 15px 15px 15px;
	position:relative;
	color:white;
	background:url(../Images/text_background.png);
	max-height:640px;
	overflow-y:auto;
}

#main-content p {
	text-align:justify;
}

#content-footer {
	text-align:right;
}

footer {
	font-size:12px;
	padding-top:15px;
	width:960px;
	margin:auto;
	text-align:center;
}

#program-links, #program-links p {
	text-align:center;
	
}

.spaced {
	width:100px;
	float:left;
}

/*~~~~~~~~~~Custom Scrollbar~~~~~~~~~~~*/
::-webkit-scrollbar {
    width: 5px;
	opacity:1;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	background:#666666;
	opacity:.3;
}